body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

header {
    background-color: :
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

h2 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}