body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 10;
    padding: 10;
    

}

header {
    background-color: rgb(255, 255, 255);
    color: #28a5df;
    text-align: center;
    padding: 20px 0;
}
.texto-titulo-1 {
    text-align: center;
    font-size:190%;
}
.textos{
    text-align: justify;
    font-size: 170%;
    margin-left: 2%;
    margin-right: 10px;
}
header h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

h2 {
    color: #333;
}
.img1{
    display: inline-block;
    text-align: center; 
    margin-right: 220px; 
    margin-left: 200px;
}


.imgfinal{
    margin-bottom: 1300px;
}
.link{
    margin-left: 20px;
}
.doacao{
    display: inline-block;
    text-align: center; 
    margin-right: 20px; 
    margin-left: 450px;
}